@import "../../styles/_variables.scss";
@import "../../styles/_grid.scss";

body {
  margin: 0;
  background-color: $light-color;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;

  ol {
    margin: 0;
  }
}
