@import "../../styles/_variables.scss";
@import "../../styles/_grid.scss";

body {
  margin: 0;
  background-color: $ultra-light-color;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;

   ul {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }
}
