@import "../../styles/_variables.scss";

.detail-wrapper {
  display: flex;
  background-color: #fff;

  .detail-card {
    margin: $lg-margin;

    .result-image {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 480px;
      }
    }

    .item-condition-wrapper {
      font-size: $md-font-size;
    }

    .item-title-wrapper {
      margin: $md-margin 0 0 0;
      font-size: $xlg-font-size;
    }

    .item-price-wrapper {
      margin: $lg-margin 0 0 0;
      font-size: 42px;
    }

    .buy-button-wrapper {
      margin: $lg-margin 0 0 0;
      .buy-button {
        background: $button-color;
        border: none;
        color: white;
        padding: 8px;
        width: 100%;
        border-radius: 4px;
      }
    }

    .item-description-wrapper {
      margin:  $lg-margin 0 0 0;
      .item-description-title {
        font-size: 32px;
      }

      .item-description-content {
        margin: $lg-margin 0 0 0;
        font-size: 16px;
      }
    }
  }
}
