@import "../../styles/_variables.scss";
@import "../../styles/_grid.scss";

.detail-wrapper {
  display: flex;
  background-color: #fff;

  .detail-card {
    margin: $lg-margin;

    .result-image {
      @include ml-width(7);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 480px;
      }
    }

    .item-condition-resume {
      @include ml-width(5);

      .item-condition-wrapper {
        font-size: 14px;
      }

      .item-title-wrapper {
        margin: $md-margin 0 0 0;
        font-size: 24px;
      }

      .item-price-wrapper {
        margin: $lg-margin 0 0 0;
        font-size: 46px;
      }

      .buy-button-wrapper {
        margin: $lg-margin 0 0 0;
        .buy-button {
          background: $button-color;
          border: none;
          color: white;
          padding: 8px;
          width: 100%;
          border-radius: 4px;
        }
      }
    }

    .item-description-wrapper {
      margin: $lg-margin 0 0 0;
      .item-description-title {
        font-size: 32px;
      }

      .item-description-content {
        @include ml-width(7);
        margin: $lg-margin 0 0 0;
        font-size: 16px;
      }
    }
  }
}
