@import "../../styles/_variables.scss";

.item-detail {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-detail > div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: $md-margin 0;
}
