@import "../../styles/_variables.scss";
@import "../../styles/_grid.scss";

.nav {
  background-color: $primary-color;
  height: 66px;
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0;

  .logo-wrapper {
    @include ml-width(1);
    @media only screen and (max-width: 768px) {
      @include ml-width(2);
    }
    padding: 20px 0;
    display: flex;
    align-items: center;

    img:hover {
      cursor: pointer;
    }
  }

  .form-wrapper {
    @include ml-width(9);
    @media only screen and (max-width: 768px) {
      @include ml-width(8);
    }

    .form {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      position: relative;

      .input {
        height: 30px;
        border: none;
        border-radius: $border-radius 0 0 $border-radius;
        margin: 12px 0;
        width: calc(100% - 54px);
        font-size: 15px;
        padding: 6px 12px;
        outline: none;
      }

      .search-button {
        margin: 12px 0px;
        border-radius: 0 $border-radius $border-radius 0;
        height: 42px;
        width: 42px;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
